SITE_URL=localhost
SITE_KEY=12321

NEXT_PUBLIC_END_POINT="http://localhost:1337"
NEXT_PUBLIC_API_MAIN_GRAPHQL_URL= "";
NEXT_PUBLIC_DATA=123321


# Contact Us form Email configurations
NEXT_PUBLIC_HOST="smtp-relay.brevo.com"
NEXT_PUBLIC_PORT=587
NEXT_PUBLIC_USERNAME="testemail@gmail.com"
NEXT_PUBLIC_PASSWORD=""
# NEXT_PUBLIC_EMAIL_RECEIVER="testemail@gmail.com"
NEXT_PUBLIC_EMAIL_RECEIVER="abc123@gmail.com"