.boldcontent{
    // font-family: 'Inter Bold';
    color: #3e3d3d;
    font-size: 16px;
    padding-top: 0.5rem;
    opacity: 0.9;
    padding-bottom: 0.125rem;
    font-weight: 500;
    font-feature-settings: 'salt' on, 'liga' off;
}
.parecontent{
    font-family: 'Inter Regular';
    font-size: 16px;
    color: #111111;
    padding-top: 0.5rem;
    opacity: 0.9;
    padding-bottom: 0.125rem;
    font-weight: 500;
    font-feature-settings: 'salt' on, 'liga' off;
}