.title{
    font-family: 'Raleway Variable';
    font-style: normal;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 15px;
    // margin-left: 1.5rem;
    line-height: 140%;
    text-transform: uppercase;
}

