.parallex{
    background-image: url('../../public/images/NewsAndArticles/catlog-parallax.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
