.golden{
    font-family: 'Inter Bold';
font-style: normal;

font-size: 16px;
text-transform: uppercase;
color: #CD9517;
color: #E5D695;
background: linear-gradient(96.13deg, #CD9517 7.32%, #E5D695 9.99%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding-top: 3rem;


}

.Silver{
    font-family: 'Inter Bold';
font-style: normal;
color: #616161;

color: #C1C1C1;
font-size: 16px;
text-transform: uppercase;
background: linear-gradient(96.13deg, #616161 7.32%, #C1C1C1 9.99%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding-top: 3rem;


}

.Bronze{
    font-family: 'Inter Bold';
font-style: normal;

font-size: 16px;
text-transform: uppercase;
background: linear-gradient(96.13deg, #964216 7.32%, #F6B784 9.99%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding-top: 3rem;


}