.mainPara , .secondPara{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #111111;

}
